@import "~bootstrap/scss/bootstrap";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.jumbotron {
    height: 50vh;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
}

.comic-thumb{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}